@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family:
    "Pretendard",
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    sans-serif;
}

@keyframes toast {
  0% {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
  15% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  85% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
}

.animate-toast {
  animation: toast 2s ease-in-out forwards;
}
